<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
</head>

<body style="font-family:  Trebuchet MS, sans-serif;  display: flex; justify-content: center;">
<div style="position: relative;  border: 2px solid #1972fd; border-radius: 6px; box-shadow: 7px 7px 3px #ddd; width: 100%;">
    <div class="titulo"
         style=" background: #1972fd; text-align: center; padding: 1.2rem; color: white; display: flex; justify-content: space-between;">
        <div style="text-align: left; font-size: 0.9rem; ">
            <h1>{% block titulo %}

            {% endblock %}</h1>
        </div>
        <div style="text-align: right; display: flex; justify-content: center;">
            <img alt="GRC" class="CToWUd" style="max-width: 120px;"
                 dfsrc="https://www.regioncajamarca.gob.pe/media/portal/KJDIG/logo/texto_grc_texto.svg?r=1597962229"
                 src="https://www.regioncajamarca.gob.pe/media/portal/KJDIG/logo/texto_grc_texto.svg?r=1597962229"/>
        </div>
    </div>
    <div style="padding: 2em 0 0 2em; color:#1972fd; font-style: oblique; font-size: 1.5rem;">
        {% block persona %}

        {% endblock %}
    </div>
    <div class="cuerpo"
         style="background: #f0f0f0; padding: 1em; margin: 2em; text-align:justify; font-size: 1em; border-radius: 8px;">
        <p>
            {% block cuerpo %}

            {% endblock %}

        </p>
    </div>
    <div class="footer"
         style="text-align: center; font-size: 0.7rem;  padding: 1em; color: #ededed; background: #1972fd;">
        <p style="margin: 0; padding: 0;">
            Copyright &#169; <br>GOBIERNO REGIONAL CAJAMARCA
        </p>
        <p style="margin: 0; padding: 0;">DIRECCION REGIONAL DE TRANSFORMACION DIGITAL</p>
    </div>

</div>
</body>

</html>