<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 99999;">
    <div id="toastLoading" class="toast align-items-center text-white bg-success border-0 " role="alert"
         aria-live="assertive"
         aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>

<form id="formModal" autocomplete="off">
    <div class="modal fade modal-sheet" id="modalForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="modalTitulo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 1em;">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitulo">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <div class="col clearfix">
                        <button type="button" class="btn btn-danger float-start btn-sm" data-bs-dismiss="modal">
                            <span class="bi bi-door-open"></span> Salir
                        </button>
                        <button type="submit" class="btn btn-primary float-end btn-sm">
                            <span class="bi bi-download "></span> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
