<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'modulo/formulario/styles.html' %}
</head>
<body>
<div class="container py-3">
    <h1>Test CRUD</h1>
    <hr>
    {% block content_body %}

    {% endblock %}
</div>
{% include 'modulo/formulario/modal.html' %}
{% include 'modulo/formulario/scripts.html' %}
{% block scripts %}

{% endblock %}
</body>

</html>