{% extends 'modulo/test/base.html' %}
{% load static %}
{% block content_body %}
    <div class="card shadow rounded-3">
        <div id="contentTable" class="card-body">
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="module">
        import Modulo from "{% static 'modulo/js/modulo.js' %}";
        import ListaView from "{% static 'modulo/js/lista.js' %}";

        const formulario = document.getElementById("formModal");
        {# get form #}
        const modal = document.getElementById("modalForm");
        {# get modal #}
        const content = document.getElementById("contentTable");
        {# content in to load table #}

        const modulo = new Modulo();
        const lista = new ListaView(modulo, content, "{% url 'modulo:test-lista' %}");
        lista.post_cargar_lista = () => {
            lista.botones("{% url 'modulo:test-crear' %}", "{% url 'modulo:test-editar' 0 %}", "{% url 'modulo:test-eliminar' 0 %}", "TestData")
        }
        formulario.onsubmit = ev => lista.submit(ev);
        lista.click_row_select = (pk) => {
        }
    </script>
{% endblock %}